<!DOCTYPE html>

<html>
<head>
  <title>RSpectacles</title>
  <link rel='stylesheet' href='<%= url 'css/style.css' %>' />
</head>
<body data-stream-url=<%= url '/stream' %>>
  <form>
    <label><input type="radio" name="mode" value="size" checked> Time</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
  </form>

  <div class='example-wrapper' id='template'>
    <ul class='example-details'>
      <li id='name'></li>
      <li>Line Number: <span id='line_number'></span></li>
      <li>Status: <span id='status'></span></li>
      <li>
        <span id='value'></span> <span id='time_or_count'></span>
      </li>
    </ul>
  </div>

  <script type='text/javascript' src='<%= url '/js/d3.js' %>'></script>
  <script type='text/javascript' src='<%= url '/js/plates.js' %>'></script>
  <script type='text/javascript' data-main='<%= url 'js/script' %>' src='<%= url '/js/require.js' %>'></script>
  <script>
    require.config({ urlArgs: (new Date().getTime())});
  </script>
</body>
</html>
