<!DOCTYPE html>

<html>
<head>
  <title>RSpectacles</title>
  <link rel='stylesheet' href='<%= url 'css/style.css' %>' />
</head>
<body data-stream-url=<%= url '/stream' %>>
  <form>
    <label><input type="radio" name="mode" value="size" checked> Time</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
  </form>

  <div class='example-wrapper'>
  </div>

  <script id='template' type='text/x-template'>
    <ul class='example-details'>
      <li class='{{ status }}'><span id='status'>{{ status }}</span></li>
      <li><strong>Description:</strong></li>
      <li class='name'>{{ name }}</li>
      <li><strong>File:</strong></li>
      <li>{{ file_path }}:<span id='line_number'>{{ line_number }}</span></li>
      <li>
        <span id='value'>{{ value }}</span> <span id='time_or_count'> {{ time_or_count }}</span>
      </li>
    </ul>
  </script>

  <script type='text/javascript' src='<%= url '/js/d3.js' %>'></script>
  <script type='text/javascript' src='<%= url '/js/plates.js' %>'></script>
  <script type='text/javascript' data-main='<%= url 'js/script' %>' src='<%= url '/js/require.js' %>'></script>
  <script>
    require.config({ urlArgs: (new Date().getTime())});
  </script>
</body>
</html>
