<!DOCTYPE html>

<html>
<head>
  <title>RSpectacles</title>
  <link rel='stylesheet' href='<%= versioned_stylesheet 'style' %>' />
</head>
<body data-stream-url=<%= url '/stream' %> data-last-url=<%= url '/last' %>>
  <form>
    <label><input type="radio" name="mode" value="size" checked> Time</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
  </form>

  <div class='example-wrapper'>
  </div>

  <script id='template' type='text/x-template'>
    <ul class='example-details'>
      <li class='{{ status }}'><span id='status'>{{ status }}</span></li>
      <li><strong>Description:</strong></li>
      <li class='name'>{{ name }}</li>
      {{# file_path }}
      <li><strong>File:</strong></li>
      <li>{{ file_path }}:<span id='line_number'>{{ line_number }}</span></li>
      {{/ file_path }}
      <li>
        <span id='value'>{{ value }}</span> <span id='time_or_count'> {{ time_or_count }}</span>
        <span id='minutes'>{{# minutes }} ({{ minutes }}) {{/ minutes }}</span>
      </li>
    </ul>
  </script>

  <script type='text/javascript' src='<%= versioned_javascript 'd3' %>'></script>
  <script type='text/javascript' src='<%= versioned_javascript 'plates' %>'></script>
  <script type='text/javascript' data-main='<%= versioned_javascript 'script' %>' src='<%= versioned_javascript 'require' %>'></script>
  <script>
    require.config({ urlArgs: (new Date().getTime())});
  </script>
</body>
</html>
